- When you need to execute terminal commands, Make sure to use Windows powershell commands since we are working in a windows environment
- when making design decisions make sure to always use DaisyUI library unless you don't find what you need.
- when making UI always adhere to a simple minimal light theme design and stay consistent with it throughout the project.
- when creating new code always scan the project folder structure and make sure everything goes to its proper place.
- keep in mind that this website is in Arabic with RTL layout.
- make reusable components whenever possible.